* {
  box-sizing: border-box;
  text-align: center;
  font-family: futura;
}



html, body {
  margin: 0;
  padding: 0;
}

.header {
  font-size: 1.5rem;
  margin-top: 5rem;
  z-index: 1;
}

h1{
  font-family: 'Sniglet', cursive;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 3rem;
}

.splat-container {
  position: absolute;
  right: 55%;
  bottom: -5%;
  margin: auto;
  z-index: -1;
}

.splat-container2 {
  position: absolute;
  top: 2%;
  left: 18%;
  margin:auto;
  height: 10rem;
  width: 15rem;;
  z-index: -1;
}

#redSplat {
  margin: auto;
  height: 150%;
  width: 150%;
  z-index: -1;
}

h1 {
  z-index: 1;
}

.input {
  font-size: 1.2rem;
  margin-top: 18%;
}

.input h2 {
  font-size: 1rem;
}

#input {
  border: solid #ffff01 5px;
  border-radius: 8%;
  height: 1.7rem;
  background-color: #F6F7EB;
}

#search {
  color: #F6F7EB;
  height: 1.7rem;
  width: 4rem;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto 10px;
  background-color: grey;
  font-style: italic;
  box-shadow: 0 4px rgb(102, 88, 99);
  cursor:pointer;
}

.about {
  font-size: 1rem;
  width: 80%;
  margin: auto;
}

.results {
  margin-top: -60px;
  font-size: 1.5rem;
  visibility: hidden;
}

#imgUpload {
  background-color: #005ab4;
  width: 60%;
  max-width: 20rem;
  margin: auto;
  padding:0.7rem;
  padding-bottom: 0rem;
  border-radius: 5%;
  border: rgb(159, 163, 158) solid 0.19rem;
  color: white;
  box-shadow: 0 4px rgb(102, 88, 99);
  cursor:pointer;
}

#pics {
  width: 60%;
  margin: auto;
  border-radius: 5%;
  display:none;
}

img {
  width: 45%;
  max-width: 200px;
  cursor:pointer;
}

#searchWord{
  color:blue;
  text-decoration: underline;
  cursor: pointer;
}


#ingredient {
  width:80%;
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
}


.results h2 {
  display:none;
}

@media (min-width: 600px) {
  header{
    margin-bottom: -12%;
  }
  .splat-container {
    left: 0%;
    bottom: 0;
  }
  .splat-container2 {
    position: absolute;
    top: 2%;
    left: 40%;
  }
}
