* {
  box-sizing: border-box;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(195, 185, 204);
}

.header {
  font-family: futura;
  font-size: 1.5rem;
  margin-top: -20px;
}

.input {
  font-family: futura;
  font-size: 1.2rem;
}

.about {
  font-family: futura;
  font-size: 0.75rem;
}
.about h2 {
  font-size: 1rem;
}

.results {
  margin-top: -60px;
  font-family: futura;
  font-size: 1.5rem;
  visibility: hidden;
}
